#container {
    display:flex;
    width:90%;
    margin: 20px auto;
    /* border:1px solid black; */
    justify-content: center;
}
#main{ 
display:grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(8,1fr);
gap:20px;
/* border:1px solid purple; */
width:80%;
padding:10px;
}
#main>div{ 
    /* border:1px solid blue; */
    background-color:white;
    box-sizing: border-box;
width:auto;
padding:5px

  }
  #para{ 
      padding-left:5%;
      padding-bottom: 5%;
      padding-right: 5%;
      font-family: "helvetica-neue",Helvetica Neue,Helvetica,Arial,sans-serif;
      font-size: 16px;
      text-align: justify;
      /* text-align: center; */
  }

  iframe{ 
      margin-left: auto;
      margin-right: auto;
      display: block;
  }
#title{
  
    line-height: 0.6;
    font-family: "helvetica-neue",Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-left:5%;
    font-weight: lighter;
    font-size: 14px;
    /* border:1px solid grey; */
    height: auto;
    width: auto;
    box-sizing:border-box;
   
}

#title:hover{
    cursor:pointer;
    text-decoration: underline;
}
body{
background-color: whitesmoke;
height: auto;
}
#bigff{
    display:flex;
    justify-content:space-around;
    /* border-bottom: 1px solid yellow; */
  
}
#diftime{
    display: flex;
    /* border: 1px solid blue; */
    width: 40%;  
    gap:10px;
    font-size: 14px;
    font-weight: normal;
    

}
#diftime>div{ 
    /* border: 1px solid green; */
    text-align:center;
    /* margin-right: 20px; */
    
}
  #imga{
      width: 20%;
      display: block;
      /* margin-left: auto;
      margin-right: auto;
      padding: 5px; */
  }
  img{
width:100%;
margin-right:50px
  }
  hr{
      width: 90%;
  }
  #sidebar{
width:20%;
/* border: 1px solid yellow; */
background-color:whitesmoke;
}

.side{
/* display:flex; */
/* justify-content: space-between; */
font-family: "helvetica-neue",Helvetica Neue,Helvetica,Arial,sans-serif;
/* margin-left:20px; */
height:auto;
background-color:white;
font-size:14px;
width:400%;
padding:12px;
line-height:2;
/* padding-top:10px; */


}

.searchbox{
width: 80%;
padding: 10px;
margin-bottom:20px;
/* height:50px; */
}
button{
  background-color: white;
  padding: 10px;
  text-align: left;
  margin-top:10px;
  width:80%;
  color:#3e7697;
  border: 1px solid #f4f4f4;
  font-size: 14px;
}
button:hover{
  cursor: pointer;
}
h2{
  font-weight: lighter;
  line-height:21px;
  font-size: 22px;
  font-family: "helvetica-neue",Helvetica Neue,Helvetica,Arial,sans-serif;
}
h3{
  font-size: 16px;
}

