body{
    font-family: helvetica-neue-bold,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.cartContainer{
    margin: 80px 10px;
    display: flex;
    /* border:1px solid black; */
    background-color: white;
   
}

.cartBanner{
    height:100px;
    width:840px;
    margin-left:10px;
    /* border:1px solid black; */
    background-color: #EEEEEE;
    display: flex;
    gap:20px;
    margin-top: 20px;
    
}
.payment {
    height:40px;
    width:60px;
    margin-top: 10px;
    margin-left:20px;
   
  
}
.payment img{
    height:100%;
    width:100%;
}
.grid{
    height:60px;
    width:450px;
    /* border:1px solid red; */
    display: grid;
    font-size: 12px;
    margin-top: 15px;  
}

.grid span{
    color:#7176AE;
}
.grid span:hover{
    text-decoration: underline;
    cursor: pointer;
}
#pay{
    font-size: 18px;
    font-weight: bold;
}
#greyBorder{
    height:70px;
    margin-top: 15px;
    margin-left: 60px;
    border:0.5px solid rgb(214, 214, 214);
}
.rightBox{
    width:550px;
    margin-left: 210px;
    /* border:1px solid red; */
    background-color: white;
}
#apply{
   
    height: 80px;
    width:160px;
    
    /* border:1px solid green; */
    margin-top:20px;
    margin-left: 20px;
}
#apply p{
    font-size: 15px;
    text-align: center;
}
#apply button{
  margin-top: 7px;
  height:40px;
  width:150px;
  color:#F86405;
  font-size: 20px;
  margin-left: 5px;
  border:2px solid #F86405;
  background-color: white;
}
#apply button:hover{
    background-color: #F86405;
    color: white;
    cursor: pointer;
}

#order{
    /* height:30px; */
    /* width:450px; */
    font-size: 22px;
    margin-top: 60px;
    /* padding-bottom: 5px; */
    /* border:1px solid black; */
    padding: 10px 10px;
}

 hr{
    width: 320px;
    margin: 0px 10px;
}
.amount{
    margin-top: 20px;
    /* border:1px solid green; */
    padding: 10px 20px;
}
.amount #box1{
    /* border:1px solid red; */
    display: flex;
    margin-left: 5px;
    gap:250px;
}
#subTotal{
    font-size: 15px;
    height:20px;
    width:100px;
    margin-top: 5px;
    font-weight: bold;
    /* border:1px solid red; */
}
#priceEl{
    height:22px;
    width:50px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    /* border:1px solid red; */

}

.amount #box2{
    height:28px;
    width:440px;
    /* margin-top: 12px; */
    /* border:1px solid red; */
    display: flex;
    gap:240px;
    margin-left: 5px;
}
#pick{
    font-size: 14px;

}
#savingEl{
    height:20px;
    width:60px;
     font-size: 15px;
      font-weight: bold;
    text-align: center;
    /* border:1px solid green; */
}
.amount #box3{
     height:28px;
    width:420px;
    margin-top: -5px;
    margin-left: 5px;
    /* border:1px solid red; */
    display: flex;
    /* gap:20px; */
    border-bottom: 1px solid gray;
   
}
#shipping{
      font-size: 14px;
}
#freeEl{
    height:20px;
    width:60px;
     font-size: 15px;
      color: green;
    text-align: center;
    margin-right: 20px;
  
}
#sticky{
    position: fixed;
    height:20px;
    width:30px;
    top:228px;
    left:1320px;
    
}
.amount #box4{
    height:50px;
    width:200px;
    /* border: 1px solid red; */
    display: flex; 
    gap: 320px;
    margin: 10px 0px;
    /* border-top: 1px solid gray; */
    font-size: 20px;
}

.productContainer{
    display: flex;
    border: 1px solid rgb(204, 203, 203);
    margin: 10px 5px;
    padding: 10px 0px;
}
.imageContainer{
    /* height:300px; */
    width:30%;
    /* border:1px solid red; */
    display: flex;
    align-items: center;
}

.productImg{
    width: 100%;
    /* border: 1px solid black; */
}

.productDetailContainer{
    /* border: 1px solid black; */
    width: 70%;
}

.productDetailContainer .box1{
    display: flex;
    font-size: 16px;
}

.productModelNo{
    font-size: 13px;
    margin: 5px 0px;

}

.productDetailContainer .box3{
    display: flex;
    

}
.pickupBox,.homeShipBox,.deliveryBox{
    border: 1px solid rgb(199, 199, 199);
    margin: 10px;
    width: 100px;
    height: 60px;
}

.productDetailContainer .box4{
    margin-top: 100px ;
    color: rgb(145, 145, 151);
}

.pickupBox,.homeShipBox,.deliveryBox{
    font-size: 10px;
    text-align: center;
    padding: 8px;
}

.removeItem{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.box5{
    display: flex;
    flex-direction: column;

}
.box5 button{
   padding: 10px 12px;
   width:300px;
   margin: 10px 20px;
   font-size: 18px;
}
#checkout{
    color: white;
    background-color: #F96302;
    border: none;
    border-bottom: 2px solid rgb(197, 30, 0);
}
#checkout:hover{
    cursor: pointer;
}
#paypal{
    color: black;
    background-color: #FFC439;
    border-radius: 4px;
    border:2px solid #FFC439;
    
}
#paypal span img{
   
    width:60px;
}
#paypal:hover{
    cursor: pointer;
}
.productPrice{
    margin-left:2%;
}
