body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #323332;
}
#topP{
    text-align: center;
    margin-top: 30px;
}
#topP h2{
    margin-top: 10px;
}
#formH{
    display: flex;
    justify-content: center;
}
#formH > div{
    width: 32%;
}
/* #crAcc{
    border: 1px solid gray;
} */
#crAcc .in{
    width: 99%;
    height: 35px;
    border: 1px solid gray;
}
#crAcc p{
    margin-bottom: 8px;
    font-size: 14px;
}
.chck{
    margin-top: 20px;
    font-size: 14px;
}
.chck input{
    width: 10px;
    height: 10px;
}
#bt{
    margin-top: 25px;
}
#crBtn{
    width: 100%;
    height: 40px;
    border: 0;
    color: #F86303;
    background-color: white;
    border: 3px solid #F86303;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}
#crBtn:hover{
    background-color: #F86303;
    color: white;
}
#shBtn{
    width: 100%;
    height: 40px;
    border: 0;
    background-color: #F86303;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-bottom: 3px solid #C14C00;
    margin-top: 20px;
}
#midD{
    border-top: 1px solid gray;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    font-size: 13px;
    text-align: center;
}
@media all and (min-width: 50px) and (max-width: 620px){
    #formH > div{
        width: 70%;
    }
}
@media all and (min-width: 621px) and (max-width: 900px){
    #formH > div{
        width: 50%;
    }
}